
::-webkit-scrollbar-track {
    background: #333333; 
  }
  
::-webkit-scrollbar-thumb {
    background: #555;
}

::-webkit-scrollbar-thumb:hover {
    background: #292929; 
}
::-webkit-scrollbar {
    width: 8px; 
    height: 8px; 
}
  