
::-webkit-scrollbar-track {
    background: #555; 
  }
  
::-webkit-scrollbar-thumb {
    background: #333333;
}

::-webkit-scrollbar-thumb:hover {
    background: #252525; 
}
::-webkit-scrollbar {
    width: 8px; 
    height: 8px; 
}
  