.taskbarPanel {
    display: flex;
    align-items: center;
    justify-content: center; /* Added to center the content */
    flex-grow: 1; /* Changed from 0 to 1 */
    border: none;
    border-radius: 12px;
    height: 40px; /* Added to specify the height */
    margin: 4px 0 0 0; /* Adjusted to remove the left margin */
    font-size: 20px;
    padding: 0 10px;
    background: #2C2C2C;
    font-weight: 300;
    cursor: pointer;
    color: #CCC;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease;
}

#taskbar {
    position: absolute;
    height: 50px; /* Adjusted to reduce the height of the taskbar */
    bottom: 20px;
    left: 20px;
    right: 20px;
    background: rgba(28, 28, 28, 0.8);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    display: flex;
    align-items: stretch; /* Ensures that all children take up the same amount of space vertically */
    justify-content: space-between; /* Added to distribute space evenly between tabs */
    gap: 10px; /* Adds a gap between each button */
    padding: 5px; /* Adjusted to reduce the padding around the buttons */
}

.taskbarPanel * {
    pointer-events: none; /* Prevents child elements from blocking clicks */
}

.taskbarPanel.activeTab {
    background:  #3F3F3F;
}

.taskbarPanel.minimizedTab {
    background: #1A1A1A;
}

.taskbarPanel.minimizedTab:hover {
    background: #1A1A1A;
}

.taskbarPanel.closed {
    display: none;
}
