body {
    display: flex;
    justify-content: space-around;
}

#gameArea {
    width: 60%;
    height: 80vh;
    position: relative;
}

.checkbox {
    position: absolute;
}

#statusArea {
    width: 30%;
}
